# Q.No.1

1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details: 
A) Rank
B) Name 
C) Artist
D) Upload date
E) Views

In [1]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [2]:
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

rank = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)

name = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in name[:30]:
    Name.append(i.text)
    
art = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in art[:30]:
    Artist.append(i.text)

ud = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in ud[:30]:
    Upload_Date.append(i.text)

views = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)

In [3]:
print(len(Rank), len(Name), len(Artist), len(Upload_Date), len(Views))

30 30 30 30 30

In [4]:
# Creating the DataFrame
import pandas as pd
Data1 = pd.DataFrame({})
Data1['Rank'] = Rank
Data1['Name'] = Name
Data1['Artist'] = Artist
Data1['Upload Date'] = Upload_Date
Data1['Views'] = Views
Data1

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.96
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.69
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.08
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.58
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.38
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.83
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.55
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.42
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.39
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.30
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.79
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.50
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.48
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.47
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.39
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.21
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.16
22,23.,"""Let Her Go""[40]",Passenger,"July 25, 2012",3.15
23,24.,"""Bailando""[41]",Enrique Iglesias,"April 11, 2014",3.15
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.15
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.06
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.05
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
29,30.,"""Mi Gente""[47]",J Balvin,"June 29, 2017",3.02

# Q.No.2

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st
 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [33]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://www.bcci.tv/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [34]:
fixtures = driver.find_element_by_xpath("/html/body/nav/div/div[2]/ul[1]/li[2]/a")
driver.get(fixtures.get_attribute('href'))
time.sleep(2)

In [35]:
#Creating empty lists for storing the scrapped data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping the data having the match name
name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name:
    Match.append(i.text)

#Scrapping the data having the series name
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
for i in series:
    Series.append(i.text)
    
#Scrapping the data having the place of match
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    
#Scrapping the data having the match date
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/span")  #Only date
month=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/div/span[1]")  #Month
for i in range(len(date)):
    Date.append(date[i].text + month[i].text)  #Appending date and month texts together
    
#Scrapping the data having match time
time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]")
for i in time:
    Time.append(i.text)

In [36]:
#Creating a Dataframe for the scrapped data
import pandas as pd
fixtures=pd.DataFrame({})
fixtures['Match name']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

Empty DataFrame
Columns: [Match name, Series, Place, Date, Time]
Index: []

# Q.No.3

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details: 
A) Name
B) Description 
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [34]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://www.guru99.com/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [36]:
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [40]:
Name = []
Description = []

name = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)

description = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in description:
    Description.append(i.text)

In [39]:
print(len(Name), len(Description))

41 41

In [41]:
# Creating DataFrame
selenium_exception = pd.DataFrame({})
selenium_exception['Name'] = Name
selenium_exception['Description'] = Description
selenium_exception

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q.No.4

4. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [42]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'http://statisticstimes.com/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [46]:
Economy = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
try:
    Economy.click()
except ElementNotInteractableException:
    driver.get(Economy.get_attribute('href'))

In [47]:
GDP = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]")
try:
    GDP.click()
except ElementNotInteractableException:
    driver.get(GDP.get_attribute('href'))

In [57]:
Rank = [] 
State = [] 
GSDP19_20 = [] 
GSDP18_19 = [] 
Share19_20 = [] 
GDP = []

rank = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

state = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)

for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
    GSDP19_20.append(i.text)
    
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
    GSDP18_19.append(i.text)

for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
    Share19_20.append(i.text)

for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [58]:
print(len(Rank), len(State), len(GSDP19_20), len(GSDP18_19), len(Share19_20), len(GDP))

66 66 66 66 66 66

In [60]:
# Creating DataFrame
import pandas as pd
gdp=pd.DataFrame({})
gdp['Rank']=Rank
gdp['State']=State
gdp['GSDP19_20']=GSDP19_20
gdp['GSDP18_19']=GSDP18_19
gdp['Share19_20']=Share19_20
gdp['GDP($ billion)']=GDP
gdp

,Rank,State,GSDP19_20,GSDP18_19,Share19_20,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# Q.No.5

5. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [38]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://github.com/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [39]:
elements = driver.find_elements_by_xpath('//summary[@class = "HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block"]')
elements[1].click()
time.sleep(2)

elements1 = driver.find_elements_by_xpath('//li[@class = "edge-item-fix"]//a')

for i in elements1:
    link = i.get_attribute('href')
    if '/trending' in link:
        i.click()
        break
        
dicty = {}
dicty['Repositorytitle'] = []
dicty['Repositorydescription'] = []
dicty['Contributorscount'] = []
dicty['Language'] = []

elements2 = driver.find_elements_by_xpath('//h1[@class = "h3 lh-condensed"]//a')

for i in elements2:
    dicty['Repositorytitle'].append(i.text)
    
elements3 = driver.find_elements_by_xpath('//p[@class = "col-9 color-text-secondary my-1 pr-4"]')

for i in elements3:
    dicty['Repositorydescription'].append(i.text)

elements4 = driver.find_elements_by_xpath('//div[@class = "f6 color-text-secondary mt-2"]')

for i in elements4:
    dicty['Language'].append(i.text.split(" ")[0])
    dicty['Contributorscount'].append(i.text.split(" ")[2])

In [40]:
github_df = pd.DataFrame({'Repository title': dicty['Repositorytitle'], 'Repository description': dicty['Repositorydescription'], 
                          'Contributors count': dicty['Contributorscount'], 'Language': dicty['Language'],})
github_df

Empty DataFrame
Columns: [Repository title, Repository description, Contributors count, Language]
Index: []

# Q.No.6

6. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://www.billboard.com/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [2]:
Song_name = [] 
Artist_name = [] 
Last_week_rank = [] 
Peak_rank = []
Weeks_on_board = []

song_name = driver.find_elements_by_xpath("//*[@id='title-of-a-story']")
for i in song_name:
    if i.text is None:
        Song_name.append('-')
    else:
        Song_name.append(i.text)
        
artist = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for j in artist:
    if j.text is None:
        Artist_name.append('-')
    else:
        Artist_name.append(j.text)

rank = driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for k in rank:
    if k.text is None:
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(k.text)
        
peak = driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for l in peak:
    if l.text is None:
        Peak_rank.append('-')
    else:
        Peak_rank.append(l.text)

# Q.No.7

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [118]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://www.naukri.com/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [119]:
recruiters = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiters.get_attribute('href'))
time.sleep(2)

In [120]:
search_jobs = driver.find_element_by_xpath("//input[@class='sugInp']")
search_jobs.send_keys('Data science')

search_button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [121]:
Name = [] 
Designation = [] 
Company = [] 
Skills_they_hire = [] 
Location = []

name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)

designation = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for j in designation:
    Designation.append(j.text)
    
company = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for k in company:
    Company.append(k.text)
    
skills = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for l in skills:
    Skills_they_hire.append(l.text)
    
location = driver.find_elements_by_xpath("//small[@class='ellipsis']")
for m in location:
    Location.append(m.text)

In [122]:
print(len(Name), len(Designation), len(Company), len(Skills_they_hire), len(Location))

50 50 50 50 48

In [123]:
# Creating DataFrame
import pandas as pd
DS_Jobs = pd.DataFrame({})
DS_Jobs['Name'] = Name[:48]
DS_Jobs['Designation'] = Designation[:48]
DS_Jobs['Company'] = Company[:48]
DS_Jobs['Skills_they_hire'] = Skills_they_hire[:48]
DS_Jobs['Location'] = Location[:48]
DS_Jobs

,Name,Designation,Company,Skills_they_hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Hyderabad / Secunderabad
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Bengaluru / Bangalore

# Q.No.8

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [105]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [106]:
Book_name = [] 
Author_name = []
Volumes_sold = [] 
Publisher = []
Genre = []

book_name = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    Book_name.append(i.text)

author_name = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for j in author_name:
    Author_name.append(j.text)
    
volumes_sold = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for k in volumes_sold:
    Volumes_sold.append(k.text)
    
publisher = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for l in publisher:
    Publisher.append(l.text)
    
genre  = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for m in genre :
    Genre.append(m.text)

In [107]:
print(len(Book_name ), len(Author_name), len(Volumes_sold), len(Publisher), len(Genre))

100 100 100 100 100

In [109]:
# Creating DataFrame
import pandas as pd
novels = pd.DataFrame({})
novels['Book name'] = Book_name 
novels['Author name'] = Author_name
novels['Volumes sold'] = Volumes_sold
novels['Publisher'] = Publisher
novels['Genre'] = Genre
novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q.No.9

9. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: 
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [110]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [113]:
Name = []
Year_span = []
Genre = [] 
Run_time = [] 
Ratings = [] 
Votes = []

name = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
year = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for j in year:
    Year_span.append(j.text)

genre = driver.find_elements_by_xpath("//span[@class='genre']")
for k in genre:
    Genre.append(k.text)
    
run = driver.find_elements_by_xpath("//span[@class='runtime']")
for l in run:
    Run_time.append(l.text)
    
ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for m in ratings:
    Ratings.append(m.text)
    
votes = driver.find_elements_by_xpath("//span[@name='nv']")
for n in votes:
    Votes.append(n.text)

In [114]:
print(len(Name), len(Year_span), len(Genre), len(Author_name), len(Run_time), len(Ratings), len(Votes))

100 100 100 100 100 100 100

In [116]:
# Creating DataFrame
import pandas as pd
IMDB = pd.DataFrame({})
IMDB['Name'] = Name  
IMDB['Year span'] = Year_span
IMDB['Genre'] = Genre 
IMDB['Run time'] = Run_time 
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,926,068"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"948,785"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"920,728"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,786"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,070"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,074"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,847"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,609"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,149"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,273"

# Q.No. 10

10. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details: 
A) Dataset name
B) Data type
C) Task 
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [134]:
# Solution:

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")
driver.implicitly_wait(0.5)

# URL
url = 'https://archive.ics.uci.edu/'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [135]:
Datasets = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
                                        
try:
    Datasets.click()
except ElementNotInteractableException:
    driver.get(Datasets.get_attribute('href'))

In [138]:
Dataset_name = []
Data_type = []
Task = [] 
Attribute_type = [] 
No_of_instances = [] 
No_of_attributes = []
Year = []

try:
    dataset_name = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in dataset_name:
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')
    
    
try:
    data_type = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for j in data_type[1:]:
        Data_type.append(j.text)
except NoSuchElementException:
    Data_type.append('-')
    

try:
    task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for k in task[1:]:
        Task.append(k.text)
except NoSuchElementException:
    Task.append('-')
    
    
try:
    attribute_type = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for l in attribute_type[1:]:
        Attribute_type.append(l.text)
except NoSuchElementException:
    Attribute_type.append('-')
    
    
try:
    instances = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for m in instances[1:]:
        No_of_instances.append(m.text)
except NoSuchElementException:
    No_of_instances.append('-')
    
    
try:
    attributes = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for n in attributes[1:]:
        No_of_attributes.append(n.text)
except NoSuchElementException:
    No_of_attributes.append('-')
    

try:
    year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for o in year[1:]:
        Year.append(o.text)
except NoSuchElementException:
    Year.append('-')

In [139]:
# Creating DataFrame
import pandas as pd
Datasets = pd.DataFrame({})
Datasets['Dataset name '] = Dataset_name   
Datasets['Data type'] = Data_type
Datasets['Task'] = Task
Datasets['Attribute type'] = Attribute_type 
Datasets['No. of instances'] = No_of_instances
Datasets['No. of attributes'] = No_of_attributes
Datasets['Year'] = Year
Datasets

,Dataset name,Data type,Task,Attribute type,No. of instances,No. of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021