# Q.1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

# 1. First get the webpage https://www.naukri.com/

url = 'https://www.naukri.com/'
driver.get(url)

# 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_location = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_location.send_keys("Bangalore")

# 3. Then click the search button.

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [8]:
# 4. Then scrape the data for the first 10 jobs results you get.

job_title = []
job_location = []
companies_name = []
experience_required = []

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / Engineer',
 'Data Analyst',
 'Data Analyst (On Contract)',
 'Senior Data Analyst',
 'Senior Data Analyst for HANA Platform',
 'Supervisor Role, Data Analyst, six sigma, Analytical skills, Database',
 'Jr. Data Analyst/ Jr. Data Scientist']

In [9]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in locations:
    location=j.text
    job_location.append(location)
job_location[0:10]

['Gurgaon/Gurugram, bangalore',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bengaluru/Bangalore',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [10]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for k in companies:
    company=k.text
    companies_name.append(company)
companies_name[0:10]

['Maruti Suzuki India',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'Animaker India Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Rupeek Fintech Pvt Ltd',
 'Flipkart',
 'Intel',
 'Concentrix Daksh Services',
 'Sejal Consulting Hub']

In [11]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for e in experience:
    exp=e.text
    experience_required.append(exp)
experience_required[0:10]

['3-5 Yrs',
 '5-10 Yrs',
 '4-5 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '0-5 Yrs']

In [12]:
# 5. Finally create a dataframe of the scraped data.

jobs=pd.DataFrame({'Jobs':job_title, 'Locations':job_location, 'Companies':companies_name, 'Experience':experience_required})[0:10]

In [13]:
jobs

,Jobs,Locations,Companies,Experience
0,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
1,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
2,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-5 Yrs
3,Data Analyst / Engineer,"Chennai, Bangalore/Bengaluru",Animaker India Private Limited,4-9 Yrs
4,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-5 Yrs
5,Data Analyst (On Contract),Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
7,Senior Data Analyst for HANA Platform,Bangalore/Bengaluru,Intel,5-10 Yrs
8,"Supervisor Role, Data Analyst, six sigma, Anal...",Bangalore/Bengaluru,Concentrix Daksh Services,3-6 Yrs
9,Jr. Data Analyst/ Jr. Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Sejal Consulting Hub,0-5 Yrs

# Q.2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [27]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

# 1. First get the webpage https://www.naukri.com/

url = 'https://www.naukri.com/'
driver.get(url)

# 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_location = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_location.send_keys("Bangalore")

# 3. Then click the search button.

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [30]:
# 4. Then scrape the data for the first 10 jobs results you get.

job_title = []
job_location = []
companies_name = []

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Lead/Senior Data Scientist (NLP)',
 'Senior Engineer - AIML - Data Scientist',
 'Lead Data Scientist',
 'Jr. Data Analyst/ Jr. Data Scientist',
 'Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Programmer - Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Machine Learning']

In [31]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in locations:
    location=j.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Palani, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)']

In [32]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for k in companies:
    company=k.text
    companies_name.append(company)
companies_name[0:10]

['Samya.AI A FRACTAL Entity',
 'Unisys',
 'Groww',
 'Sejal Consulting Hub',
 'Wipro',
 'IBM India Pvt. Limited',
 'Wipro',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Juniper Networks',
 'GormalOne LLP']

In [33]:
jobs_2=pd.DataFrame({'Title':job_title, 'Locations':job_location, 'Companies':companies_name})[0:10]

In [34]:
jobs_2

,Title,Locations,Companies
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
1,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys
2,Lead Data Scientist,"Palani, Bangalore/Bengaluru",Groww
3,Jr. Data Analyst/ Jr. Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Sejal Consulting Hub
4,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",Wipro
5,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited
6,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro
7,Lead Programmer - Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited
8,Senior Data Scientist,Bangalore/Bengaluru,Juniper Networks
9,Data Scientist - Machine Learning,Bangalore/Bengaluru\n(WFH during Covid),GormalOne LLP

# Q.3

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [77]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

# 1. First get the webpage https://www.naukri.com/

url = 'https://www.naukri.com/'
driver.get(url)
driver.maximize_window()

# 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

# 3. Then click the search button.

search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [78]:
# 4. Then apply the location filter and salary filter by checking the respective boxes

filter_location = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i") 
filter_location.click()

In [79]:
filter_salary = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i") 
filter_salary.click()

In [80]:
#5. Then scrape the data for the first 10 jobs results you get.

job_title = []
job_location = []
companies_name = []
experience_required = []

titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Hiring For Data Analyst / Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist/ Senior Data Scientist']

In [88]:
locations=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 halfwdt']")
for j in locations:
    location=j.text.split(",") 
    job_location.append(location)
job_location[:]

[['Noida', ' Nodia'],
 ['Hyderabad/Secunderabad',
  ' Pune',
  ' Chennai',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida',
  ' Kolkata',
  ' Hyderabad/Secunderabad',
  ' Ahmedabad',
  ' Chennai',
  ' Coimbatore',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida', ' Nodia'],
 ['Hyderabad/Secunderabad',
  ' Pune',
  ' Chennai',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida',
  ' Kolkata',
  ' Hyderabad/Secunderabad',
  ' Ahmedabad',
  ' Chennai',
  ' Coimbatore',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida', ' Nodia'],
 ['Hyderabad/Secunderabad',
  ' Pune',
  ' Chennai',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida',
  ' Kolkata',
  ' Hyderabad/Secunderabad',
  ' Ahmedabad',
  ' Chennai',
  ' Coimbatore',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida', ' Nodia'],
 ['Hyderabad/Secunderabad',
  ' Pune',
  ' Chennai',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)'],
 ['Noida',
  ' Kolkata',
  ' Hyderabad/Secunderabad',
  ' Ahmedabad',
  ' Chennai',
  ' Coimbatore',
  ' Bangalore/Bengaluru',
  ' Delhi / NCR',
  ' Mumbai (All Areas)']]

In [94]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for k in companies:
    company=k.text
    companies_name.append(company)
companies_name[0:10]

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'NTT Data Business Solutions Pvt Ltd',
 'Careerera',
 'Whizhack Technologies pvt ltd',
 'One Mobikwik Systems Private Limited',
 'Newgen Software Technologies']

In [95]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for e in experience:
    exp=e.text
    experience_required.append(exp)
experience_required[0:10]

['0-2 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs']

In [96]:
JT=job_title[:10]
JL=job_location[:10]
CN=companies_name[:10]
Exp=experience_required[:10]

In [97]:
print(len(JT),len(JL), len(CN), len(Exp))

10 10 10 10

In [98]:
# 6. Finally create a dataframe of the scraped data.
jobs_3=pd.DataFrame({'Jobs':JT, 'Locations':JL, 'Companies':CN, 'Experience':Exp}) 
jobs_3

,Jobs,Locations,Companies,Experience
0,Data Scientist,"[Noida, Nodia]",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Data Scientist,"[Hyderabad/Secunderabad, Pune, Chennai, Ban...",Navikenz India Pvt Ltd,2-7 Yrs
2,Hiring For Data Scientist,"[Noida, Kolkata, Hyderabad/Secunderabad, Ah...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Project Manager | Team Leader | Senior Data Sc...,"[Noida, Nodia]",Tidyquant (OPC) Private Limited,1-5 Yrs
4,Data Scientist,"[Hyderabad/Secunderabad, Pune, Chennai, Ban...",Teleperformance,4-9 Yrs
5,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","[Noida, Kolkata, Hyderabad/Secunderabad, Ah...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
6,Hiring For Data Analyst / Data Scientist,"[Noida, Nodia]",Careerera,1-3 Yrs
7,Data Scientist,"[Hyderabad/Secunderabad, Pune, Chennai, Ban...",Whizhack Technologies pvt ltd,2-5 Yrs
8,Data Scientist,"[Noida, Kolkata, Hyderabad/Secunderabad, Ah...",One Mobikwik Systems Private Limited,2-5 Yrs
9,Data Scientist/ Senior Data Scientist,"[Noida, Nodia]",Newgen Software Technologies,2-5 Yrs

# Q.4

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [43]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

# 1. Go to Flipkart webpage by url : https://www.flipkart.com/

url = 'https://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

# 2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

try:
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
except:
    pass

search_item = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_item.send_keys("sunglasses")

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [44]:
Brand = []
Product_Description = []
Price = []
Off = []

for a in range(3):
    bnd=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in bnd:
        bnds=i.text
        Brand.append(bnds)
    Brand[0:100]
    
        
    pd=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in pd:
        pds=j.text
        Product_Description.append(pds)
    Product_Description[0:100]
    
        
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for k in price:
        ps=k.text
        Price.append(ps)
    Price[0:100]
    
    
    dsc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for l in dsc:
        off=l.text
        Off.append(off)
    Off[0:100]
    
        
next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [45]:
print(len(Brand), len(Product_Description), len(Price), len(Off))

120 120 120 120

In [48]:
import pandas as pd
sunglasses = pd.DataFrame({'Brand':Brand, 'Product Description':Product_Description, 'Price':Price, 'Off':Off})[0:100]

In [49]:
sunglasses

,Brand,Product Description,Price,Off
0,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
1,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹187,88% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
4,kingsunglasses,UV Protection Round Sunglasses (54),₹189,82% off
...,...,...,...,...
95,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹187,84% off
96,PIRASO,UV Protection Wayfarer Sunglasses (32),₹187,88% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399,80% off
98,PHENOMENAL,"UV Protection, Mirrored Round Sunglasses (Free...",₹209,83% off
99,PIRASO,"UV Protection, Polarized Aviator Sunglasses (32)",₹164,89% off

# Q.5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART .

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [50]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")


url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'
driver.get(url)
driver.maximize_window()


Rating = []
Review_summary = []
Full_review = []
 
for a in range(10):
    rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rate:
        ratings=i.text
        Rating.append(ratings)
    Rating[0:100]
    
        
    rs=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in rs:
        r_s=j.text
        Review_summary.append(r_s)
    Review_summary[0:100]
    
        
    fr=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for k in fr:
        f_r=k.text
        Full_review.append(f_r)
    Full_review[0:100]   
        
next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [51]:
print(len(Rating), len(Review_summary), len(Full_review))

100 100 100

In [52]:
import pandas as pd
iphone_11 = pd.DataFrame({'Rating':Rating, 'Review summary':Review_summary, 'Full review':Full_review})[0:100]
iphone_11

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

# Q.6

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [105]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

url = 'https://www.flipkart.com' 
driver.get(url)
driver.maximize_window()

try:
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
except:
    pass

search_item = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_item.send_keys("sneakers")

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [106]:
Brand = []
Product_Description = []
Price = []
Off = []

for a in range(3):
    bnd=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in bnd:
        bnds=i.text
        Brand.append(bnds)
       
        
    pd=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in pd:
        pds=j.text
        Product_Description.append(pds)
        
        
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for k in price:
        ps=k.text
        Price.append(ps)
         
    
    dsc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for l in dsc:
        off=l.text
        Off.append(off)
        
        
next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [107]:
Bnd = Brand [:100] 
PD = Product_Description[:100]
Pr = Price[:100]
Ds = Off[:100]

In [109]:
import pandas as pd
sneakers = pd.DataFrame({'Brand':Bnd, 'Product Description':PD, 'Price':Pr, 'Off':Ds})[0:100]
sneakers

,Brand,Product Description,Price,Off
0,BIRDE,Men Casual Shoes Sneakers For Men,₹339,32% off
1,BIRDE,Sneakers For Men,₹423,57% off
2,RapidBox,Sports Running Shoes Sneakers For Men,₹680,31% off
3,BIRDE,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹322,35% off
4,Chevit,Modern Trendy Sneakers Shoes Sneakers For Men,₹536,66% off
...,...,...,...,...
95,BIRDE,Fashion Outdoor Canvas Casual Light Weight Lac...,₹339,65% off
96,SCATCHITE,Numenzo Black Sneaker For Men Sneakers For Men,₹398,75% off
97,ganpati traders,Casual Shoes Sneakers For Men,₹173,57% off
98,Numenzo,Sneakers For Men,₹499,56% off
99,BIRDE,Casual Sneakers Black Shoes For Men Sneakers F...,₹423,62% off

# Q.7

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [99]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

url = 'https://www.myntra.com/shoes' 
driver.get(url)
driver.maximize_window()

In [100]:
price_cbox = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_cbox.click()

In [101]:
colour_cbox = driver.find_element_by_xpath("//li[@class='colour-listItem']")
colour_cbox.click()

In [102]:
Brand = []
Product_Description = []
Price = []

for a in range(2):
    bnd=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in bnd:
        bnds=i.text
        Brand.append(bnds)
    Brand[0:100]
    
        
    pd=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for j in pd:
        pds=j.text
        Product_Description.append(pds)
    Product_Description[0:100]
    
        
    price=driver.find_elements_by_xpath("//div[@class='product-price']")
    for k in price:
        ps=k.text
        Price.append(ps)
    Price[0:100]
    
        
next_btn = driver.find_element_by_xpath("//a[@rel='next']")
next_btn.click()

In [103]:
print(len(Brand), len(Product_Description), len(Price))

100 100 100

In [104]:
import pandas as pd
Black_Shoes = pd.DataFrame({'Brand':Brand, 'Product Description':Product_Description, 'Price':Price})[0:100]
Black_Shoes

,Brand,Product Description,Price
0,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
1,UNDER ARMOUR,Men HOVR Apex 2 Training,Rs. 13999
2,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995
3,Puma,Men Deviate Nitro Running Shoe,Rs. 11249Rs. 14999(25% OFF)
4,ASICS,Men GEL-KAYANO 27 Shoes,Rs. 11999Rs. 14999(20% OFF)
...,...,...,...
95,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 9999
96,Pavers England,Men Printed Leather Slip-On Sneakers,Rs. 10999
97,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(Rs. 1190 OFF)
98,Tommy Hilfiger,Women Hybrid Leather Sneakers,Rs. 7999
99,Calvin Klein,Men Solid Suede Sneakers,Rs. 7999

# Q.8

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes
Note: All the steps required during scraping should be done through code only and not manually.

In [110]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

url = 'https://www.amazon.in/' 
driver.get(url)
driver.maximize_window()

search_item = driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_item.send_keys("laptop")

search_button = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_button.click()

In [111]:
CPU_type = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[10]/span/a/div/label/i") 
CPU_type.click()

In [112]:
title_name = []
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles:
    title=i.text
    title_name.append(title)

In [113]:
Ratings = []
rate=driver.find_elements_by_xpath("//span[class='a-size-base a-nowrap']")
for j in rate:
    Rate=j.text
    Ratings.append(Rate)
Ratings

[]

In [114]:
Price = []
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for k in price:
    Ps=k.text
    Price.append(Ps)

In [115]:
print(len(title_name), len(Ratings), len(Price))

28 0 28

In [116]:
TN=title_name[:10]
Pr=Price[:10]

In [117]:
import pandas as pd
laptop=pd.DataFrame({'Tiltle':TN, 'Price':Pr})[0:10]
laptop

                                              Tiltle   Price
0  HP 15s 11th Gen Intel Core i3 15.6 inches Busi...  44,867
1  HP 15s 11th Gen Intel Core i3 15.6 inches(39.6...  43,490
2  Lenovo IdeaPad Slim 3 2021 Intel Core i3 11th ...  43,490
3  Dell 14 (2021) Thin & Light i3-1005G1 Laptop, ...  38,990
4  HP 15s 11th Gen Intel Core i3 15.6 inches Busi...  44,867
5  (Renewed) Lenovo Latitude Laptop X260 Intel Co...  19,990
6  HP 15 10th Gen Intel Core i3 Thin and Light 15...  40,910
7  ASUS VivoBook 14 (2021), Intel Core i3-1115G4 ...  39,990
8  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...  37,990
9  Dell 15 (2021) Laptop i3-1115G4, 8GB, 256GB SS...  41,990

# Q.9

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [35]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

# 1. First get the webpage https://www.ambitionbox.com/ 

url = 'https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()

# 2. Click on the Job option as shown in the image.

jobs = driver.find_element_by_xpath("//a[@class='link jobs']")
jobs.click()

# 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.

search_input = driver.find_element_by_xpath("//input[@class='input tt-input']") 
search_input.send_keys("Data Scientist")

search_button = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_button.click()

In [36]:
location_tab = driver.find_element_by_xpath("//div[@title='Location']") 
location_tab.click()

In [37]:
# 4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
search_location = driver.find_element_by_id("location_Noida")
search_location.click()

In [38]:
company_name = []
titles=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in titles:
    title=i.text
    company_name.append(title)
company_name[0:10]

['LG Electronics India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'GENPACT India Private Limited',
 'GI Group',
 'GI Group',
 'GI Group',
 'Steria India Ltd',
 'Zyoin']

In [39]:
no_of_days = []
days=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for j in days:
    day=j.text
    no_of_days.append(day)
Days=no_of_days[0::2]
Days

['3d ago',
 '10d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '4d ago',
 '4d ago',
 '8d ago',
 '1mon ago',
 '5d ago']

In [40]:
rating = []
ratings=driver.find_elements_by_xpath("//a[@class='rating rating-4']")
for k in ratings:
    rate=k.text
    rating.append(rate)
rating

['4.1', '4.1', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.1', '4.1']

In [41]:
print(len(company_name), len(Days), len(rating))

10 10 10

In [42]:
# Data frame
DS_Jobs_in_Noida=pd.DataFrame({})
DS_Jobs_in_Noida['Company Name']=company_name
DS_Jobs_in_Noida['No. of days ago when job was posted']=Days
DS_Jobs_in_Noida['Rating of the company']=rating 
DS_Jobs_in_Noida

,Company Name,No. of days ago when job was posted,Rating of the company
0,LG Electronics India Pvt. Ltd.,3d ago,4.1
1,GENPACT India Private Limited,10d ago,4.1
2,GENPACT India Private Limited,10d ago,4.0
3,NTT Data Business Solutions Pvt Ltd,11d ago,4.0
4,GENPACT India Private Limited,12d ago,4.0
5,GI Group,4d ago,4.0
6,GI Group,4d ago,4.0
7,GI Group,8d ago,4.0
8,Steria India Ltd,1mon ago,4.1
9,Zyoin,5d ago,4.1

# Q.10

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [119]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/chromedriver_win32/chromedriver.exe")

# 1. First get the webpage https://www.ambitionbox.com/ 

url = 'https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()

# Click on the salaries option as shown in the image.

salaries = driver.find_element_by_xpath("//a[@class='link salaries']")
salaries.click()

# 3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.

driver.find_element_by_id('jobProfileSearchbox').send_keys("Data Scientist", Keys.ENTER)

In [120]:
# 4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

company_name = []
company=driver.find_elements_by_xpath("//div[@class='name']")
for i in company:
    title=i.text.split('\n')[0]
    company_name.append(title)

In [121]:
total_salary_record = []
TSR=driver.find_elements_by_xpath("//div[@class='name']")
for j in TSR:
    sr=j.text.split('\n')[1]
    total_salary_record.append(sr)

In [122]:
minimum_salary = [] 
mS=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for k in mS:
    msr=k.text.split(',')[0][0:10]
    minimum_salary.append(msr)

In [123]:
average_salary = []
AS=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for l in AS:
    asr=l.text 
    average_salary.append(asr)

In [124]:
maximum_salary = [] 
MS=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for m in MS:
    Msr=m.text.split(',')[0]
    maximum_salary.append(Msr)

In [125]:
experience_required = []
Exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for e in Exp:
    exp=e.text.split('\n')[2]
    experience_required.append(exp)

In [126]:
# 5. Store the data in a dataframe.
ambitionbox_DS_Jobs=pd.DataFrame({})
ambitionbox_DS_Jobs['Company Name']=company_name [:10]
ambitionbox_DS_Jobs['Total Salary Record']=total_salary_record [:10]
ambitionbox_DS_Jobs['Minimum Salary']=minimum_salary[:10]
ambitionbox_DS_Jobs['Average Salary']=average_salary[:10]
ambitionbox_DS_Jobs['Maximum Salary']=maximum_salary[:10]
ambitionbox_DS_Jobs['Experience required']=experience_required[:10]
ambitionbox_DS_Jobs

,Company Name,Total Salary Record,Minimum Salary,Average Salary,Maximum Salary,Experience required
0,Ab Inbev,based on 20 salaries,₹ 15.0L,₹ 19.0L,₹ 15.0L,3-4 yrs exp
1,ZS,based on 12 salaries,₹ 23.0L,₹ 15.3L,₹ 23.0L,2 yrs exp
2,Optum,based on 23 salaries,₹ 9.8L,₹ 15.0L,₹ 9.8L,3-4 yrs exp
3,Fractal Analytics,based on 66 salaries,₹ 19.5L,₹ 15.0L,₹ 19.5L,2-4 yrs exp
4,UnitedHealth,based on 47 salaries,₹ 11.0L,₹ 13.5L,₹ 11.0L,2-4 yrs exp
5,Tiger Analytics,based on 26 salaries,₹ 21.3L,₹ 13.5L,₹ 21.3L,3-4 yrs exp
6,Verizon,based on 14 salaries,₹ 9.5L,₹ 12.7L,₹ 9.5L,4 yrs exp
7,Ganit Business Solutions,based on 13 salaries,₹ 22.0L,₹ 12.4L,₹ 22.0L,4 yrs exp
8,Ericsson,based on 42 salaries,₹ 7.2L,₹ 11.7L,₹ 7.2L,3-4 yrs exp
9,Deloitte,based on 49 salaries,₹ 20.5L,₹ 11.2L,₹ 20.5L,2-4 yrs exp